# Список зависимостей проекта
aiogram==3.*
Telethon==1.*
SQLAlchemy==2.*
asyncpg==0.* # Драйвер для PostgreSQL
python-dotenv==1.*
httpx==0.* # Используем httpx для асинхронных запросов
loguru==0.* # Для удобного логирования
